.logo {
    background: url("img/logo.png") 0 0 no-repeat;
    background-size: cover;
    width: 80px;
    height: 60px;
}
.invisible{
    display: none;
}
.rouge{
    color: white;
    background-color: rgba(255, 0, 0, 0.71);
}
.vert{
    color: white;
    background-color: rgba(18, 119, 73, 0.78);
}